//- Layout
extends ../layouts/layoutDefault

//- Configuracion de variables
block variables
	- bodyClasses = [''] 

//- Contenido principal
block content
	main
		.titleInfo
			h1
				strong 5
				| docs in vault
			ul.docsList
				li
					div
						h2 Titulo documento
						p 21-11-2018
					div.claims
						strong 3
						| claims
				li
					div
						h2 Titulo documento
						p 21-11-2018
					div.claims
						strong 3
						| claims