//- ---------------------------------------------------------------------------------------------------------
//- NOMBRE: mixin1
//- DESCRIPCION: listHotels component
//- PARÁMETROS: type
//- -----------------------------------------------------------------------------------------------------------

//- mixin mixin1()