header#mainHeader
	#brand
		img(src="../img/logoMnemonicL.svg", alt="")
	#hamburguesa.collapsible
		.collapsible-header
			span
			span
			span
		.collapsible-content
			ul
				li
					a(href="#") Item 1
				li
					a(href="#") Item 2
				li
					a(href="#") Item 3