html {
	font-size: 62.5%;
	height: 100%;
}

body {
	height: 100%;
	font-family: $font-regular;
	font-size:$font-size-base;
	color: $colorText;
	background-color: $colorW;
	margin:0;
}
main{
	height: 100%;
	padding: 6rem 3rem;
}
strong{
	font-family: $font-bold;
}
a{
	color: $colorB3;
}