$font-size-base:		1.6rem;

$colorB1:				#000B0F;
$colorB2:				#00374C;
$colorB3:				#006699;
$colorB4:				#06B4EA;

$colorO1:				#CC3300;

$colorW:				#fff;
$colorText:				#000B0F;
$colorBorder:			#999;

$font-light:			'ubuntulight';
$font-medium:			'ubuntumedium';
$font-regular:			'ubunturegular';
$font-bold:				'ubuntubold';
