$font-size-base:		1.6rem;

$colorW:				#fff;
$colorText:				#000B0F;
$colorBorder:			#999;

$font-light:			'ubuntulight';
$font-medium:			'ubuntumedium';
$font-regular:			'ubunturegular';
$font-bold:				'ubuntubold';
